.row {
  display: flex;
  flex-wrap: wrap;
  @media (max-width: 720px) {
    flex-direction: column;
  }

  /* To offset padding of individual cards */
}
button {
  background-color: #007bff; /* Green */
  border: none;
  color: white;
  padding: 10px;
  border-radius: 3px;
  border-color: #ddd;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
  margin-bottom: 10px;
  margin-right: 10px;
  margin-top: 10px;
}

.patient-card {
  width: 50%;
  border: 1px solid #ddd;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  @media (max-width: 720px) {
    width: 100%;
  }
}
.doctor-card {
  width: 50%;
  border: 1px solid #ddd;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin: 0%;
  padding: 0%;
  @media (max-width: 720px) {
    width: 100%;
  }
}

/* Styles for the card header */
.card-header {
  background-color: #007bff;
  color: #fff;
  padding: 5px;
  text-align: center;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}

/* Styles for the card body */
.card-body {
  padding: 20px;
  display: flex;
  align-items: center;
}

/* Styles for the left part of the card body (doctor photo and name) */
.doctor-info {
  flex: 1;
}

.doctor-photo {
  width: 100px;
  height: 100px;
  border-radius: 100%;
  overflow: hidden;
}

.doctor-photo img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  padding-left: 30px;
}

.doctor-name {
  margin-top: 10px;
  font-weight: bold;
  padding-left: 20px;
  display: flex;
  flex-wrap: wrap;
}

/* Styles for the right part of the card body (doctor's qualification, specialization, etc.) */
.doctor-details {
  flex: 2;
  margin-left: 30px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.doctor-specialization {
  margin-top: 10px;
  font-weight: bold;
}

.leftpatient {
  flex: 2;
  margin-left: 40px;
  font-weight: bold;
  margin-right: 80px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.leftpatient p {
  margin-bottom: 10px; /* Add margin between each <p> tag */
}

/* Add additional styles as needed for other details */
.schedule {
  flex: 1;
  padding-bottom: 10px;
  align-items: right;
}
.color {
  color: red;
}
.mid {
  text-align: center;
  margin-top: 10px;
}
